.login-text {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-green);
    margin-bottom: 10px;
    text-align: center;
}

.form {
    width: 100%;
}

.input {
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px 22px;
    margin-top: 7px;
    border: 1px;
    border: #60da64 1px dotted;
    display: flex;
    align-items: center;
}

.button {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--light-green);
    font-weight: 600;
    color: #fff;
    border: none;
    margin-top: 20px;
}
.login-wrap {
    padding: 50px;
    background-color: rgba(18, 99, 22, 0.157);
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 50px;
}
.p {
    margin-top: 15px;
    text-align: end;
}

.sign {
    color: rgba(26, 117, 73, 0.753);
    font-weight: 600;
    &:hover {
        color: rgba(66, 148, 108, 0.616);
    }
}

.password {
    display: flex;
    justify-content: space-between;
}
.password .fotgot-password {
    color: #3a7e3c;
    &:hover {
        color: #68b46b;
    }
}

.form-countdown {
    position: relative;
    margin-bottom: 2px;
}

.countdown {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.countdown-span {
    color: #3a7e3c;
    cursor: pointer;
    font-weight: 600;
    &:hover {
        color: rgba(19, 104, 63, 0.616);
    }
}
