@import '../../../../node_modules/@fontsource/vollkorn/';

.product {
    background-color: #f1efef;
    border-radius: 5px;
    margin: 20px 0px;
}
.image {
    text-align: center;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

.image img {
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.info {
    padding: 20px;
}

.stocking {
    background-color: #defaf2;
    color: #333;
    display: inline-block;
    padding: 2px 5px;
}

.name {
    font-size: 30px;
    color: var(--dark-green);
    font-weight: 800;
    margin: 15px 0 4px;
    font-family: 'Vollkorn';
}

.info-review .line {
    color: #c9c7c7;
    margin: 0 12px;
}

.info-review p {
    display: inline;
    color: #999;
}

.price {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.original-price {
    color: #999;
    text-decoration: line-through !important;
    margin-top: 5px;
    font-size: 16px;
}

.discounted-price {
    margin: 0 8px;
    font-size: 28px;
    color: var(--light-green);
    font-weight: 800;
}

.discount {
    background-color: #5e9730;
    height: 17px;
    line-height: 17px;
    font-size: 11px;
    font-weight: 600;
    color: #dad9d9;
}

.desc {
    margin: 15px 0 20px;
}

.message {
    color: #555;
}

.message span {
    margin-left: 5px;
    font-style: italic;
}

.category {
    margin-top: 20px;
    color: #000;
}

.category span {
    color: #999;
    font-weight: normal;
}

.add {
    border-bottom: 1px solid #dad9d9;
    padding-bottom: 20px;
}
.add-btn {
    padding: 10px 0;
    font-size: 16px;
    border: none;
    background-color: var(--light-green);
    font-weight: 700;
    color: #fff;
    margin: 30px 0 0;
    padding: 5px 40px;
    line-height: 2.5;
    border-radius: 50px;
}

.add-btn.add-btn-disabled {
    background-color: #555;
}
.note {
    margin-top: 10px;
    font-style: italic;
    color: #777;
}

.certify {
    margin-top: 20px;
    color: rgb(18, 146, 35);
}

.certify-item {
    padding: 5px;
}

.describe {
    text-align: start;
    font-size: 25px;
    color: var(--dark-green);
    font-weight: 600;
}

.heading {
    font-size: 35px;
    color: var(--light-green);
    font-weight: 700;
    text-align: center;
    // border-bottom: 1px solid #dad9d9;
    padding: 20px 0 20px;
}

.desc-text {
    margin: 20px 200px 0;
}
.product-block {
    text-align: center;
    padding: 20px;
}

.product-link {
    display: inline-block;
}

.product-img {
    width: 241px;
    height: 224px;
    text-align: center;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
    transition: all ease 0.3s;
}

.product-name {
    font-weight: 600;
    transition: all ease 0.3s;
    padding: 20px 0 5px;
}

.product-price {
    font-size: 16px;
    color: var(--light-green);
    font-weight: 700;
    transition: all ease 0.3s;
    border-bottom: 1px solid #5e9730;
    display: inline-block;
    padding-bottom: 10px;
}

.product-add {
    font-weight: 600;
    color: #333;
    border: none;
    background: none;
    margin-top: 10px;
    text-align: center;
    &:hover {
        transition: all 0.3 ease-in;
        color: var(--dark-green);
    }
}
.add-icon {
    margin-left: 5px;
    transition: all ease 0.3s;
}

.product-add:hover .add-icon {
    transform: translateX(5px);
}

.review-product {
    display: flex;
    margin-bottom: 20px;
}

.avatar {
    text-align: center;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.review {
}
.username {
    font-style: italic;
}
.star {
}
.review-icon {
    color: #ff7b00;
}
.createdAt {
    color: #999;
}
.content {
    margin-top: 10px;
}
.image-review img {
    width: 72px;
}
