.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #222931;
    position: fixed;
    top: 64px;
    left: 0;
}

.element {
    text-decoration: none;
    display: block;
}
.element .wrap {
    font-family: 'Segoe UI', Arial, sans-serif !important;
    padding: 15px;
    display: flex;
    font-weight: 700;
    color: #ccccccb7;
    transition: all 0.3s ease;
    &:hover {
        background-color: #4b5969;
        color: #fff;
    }
}

.logo {
    font-size: 20px;
}

.desc {
    padding-left: 8px;
}
