.hug {
    background-color: #eee;
    flex: 1;
    margin: 64px 0 0 250px;
    height: 100vh;
}

.heading {
    padding: 20px;
    width: 100wh;
    display: flex;
    justify-content: space-between;
}

.name_table {
    color: #3e5569;
    font-size: 20px;
    font-weight: 700;
}

.wrapper {
    padding: 20px;
    background-color: #fff;
    margin: 0 20px;
}

input,
textarea {
    padding: 5px;
    width: 100%;
    margin: 5px 0;
}

.content-fix {
    text-align: start !important;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-fix-2 {
    max-width: 150px;
}

.search {
    display: block;
    position: relative;
    width: 250px;
}

.search-input {
    width: 100%;
    height: 30px;
    padding: 16px 12px;
    border-radius: 50px;
    outline: none;
    border: 1px solid #333;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.modal-input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.modal-button {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
}

table td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

table td:hover::after {
    content: attr(data-fulltext);
    position: absolute;
    background-color: white;
    z-index: 1000;
    white-space: normal;
    word-wrap: break-word;
    left: 0;
    top: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.product img {
    max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
    border-radius: 4px;
}

.product-info {
    flex-grow: 1;
    font-size: 16px;
}
